.logo {
    margin: 10px;
    margin-right: 30px;
    align-content: center;
}

.name {
    margin: 10px;
    min-width: 400px;
    font-size: 18pt;
    font-weight: bold;
    color: #666666;
}

.language {
    margin: 10px;
    min-width: 200px;
    font-size: 14pt;
    text-align: center;
    display: flex;
}

.help {
    margin: 10px;
    min-width: 100px;
    font-size: 14pt;
    font-weight: bold;
    color: #2f85fa;
    text-align: center;
}

.logging {
    margin: 10px;
    min-width: 120px;
    font-size: 14pt;
    font-weight: bold;
    color: #666666;
    text-align: center;
}
