.navigation {
    min-height: 90px;
    min-width: 120px;
    border-right: 1px solid gainsboro
}

.text-semi-bold {
    font-size: 18pt;
    font-weight: 600;
    color: #2f85fa
}

.first-element {
    margin-top: 15px
}

.navbar {
    padding: 0 !important
}

.root {
    display: flex;
    margin: 100px
}

.drawerPaper {
    width: 350px;
    margin-top: 98px
}

.MuiListItem-root.listItem {
    padding: 0;
    font-family: 'Segoe UI'
}

.subItem {
    font-size: 14pt;
    color: #666666
}

.selectedSubItem {
    font-size: 14pt;
    font-weight: 500;
    color: #333333
}
